<div class="column is-one-fifth-tablet">
  <img src=<%= user.avatar_url %> />
  <div class="is-flex is-flex-direction-column">
    <p class="has-text-centered"><%= user.username %></p>
    <%= link_to "View Profile", profile_path(user.username), class: "button is-dark" %>
  </div>
</div>
