<div class="column is-one-fifth-tablet">
  <%= image_tag user.avatar_url %>
  <div class="is-flex is-flex-direction-column">
    <p class="has-text-centered"><%= user.username %></p>
    <%= link_to "Add Friend",
      friend_requests_path(user_id: user.id),
      class: "button is-black",
      method: :post
    %>
    </div>
  </div>
</div>
