<h1 class="is-size-3 has-text-weight-bold mb-6">
  <%= @user.username %>'s Profile
  <%= link_to "Upload", new_photo_path, class: "button is-dark" %>
</h1>

<%= render partial: "photos/gallery", locals: { photos: @user.photos } %>
