<div class="panel is-black">
  <div class="panel-heading"><%= @user.username %>'s Profile</div>

  <div class="panel-block" style="display: block;">
    <h2 class="title">Photos</h2>
    <% if @user.photos.empty? %>
      <p>There is still no photos to display.</p>
    <% else %>
      <%= render partial: "photos/gallery", locals: { photos: @user.photos } %>
    <% end %>
  </div>
</div>
