<div class="columns is-multiline">
  <% photos.each do |photo| %>
    <div class="column is-one-third-tablet">
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.photo %>
      <% end %>
    </div>
  <% end %>
</div>
