<% if notice %>
  <div class="notification is-light is-success has-text-centered">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="notification is-light is-danger has-text-centered">
    <%= alert %>
  </div>
<% end %>
